* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    background-image: url(body-bg.jpg);
    background-size: cover;
}

.container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.main-img img{
    width: 800px;
}

.sub-container div h1{
    text-align: center;
    color: white;
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sub-container-mic{
    background-color: red;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 11px white;
    margin-top: 20px;
}
.sub-container-mic:hover{
   background-color: green;
   width: 62px;
   height: 62px;

}

.sub-container-mic img{
    filter: invert(1);
    width: 25px;
}

.display-none{
    display: none;
}
